<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div class="row text-center">
      <div class="col-md-12"><label class="h4">添加商品</label></div>
    </div>
  </div>

  <div class="panel-body">
    <form class="form-horizontal" role="form" ng-controller="ProductManagerCtrl">
      <div class="form-group">
        <label  class="col-sm-2 control-label">商品类别</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model="productInfo.p_sort" ng-options="sort for sort in allSorts">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-2 control-label">商品名称</label>
        <div class="col-sm-10">
          <input type="text" ng-model="productInfo.p_name" class="form-control" id="inputP_name" placeholder="商品名称">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">商品价格</label>
        <div class="col-sm-10">
          <input type="text" ng-model="productInfo.p_price" class="form-control" id="inputP_price" placeholder="商品价格">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">商品单位</label>
        <div class="col-sm-10">
          <input type="text" ng-model="productInfo.p_unit" class="form-control" id="inputP_unit" placeholder="商品单位">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" ng-click="addProduct()" class="btn btn-default">添加</button>
        </div>
      </div>
    </form>
  </div>
</div>

